In [14]:
import pandas as pd
from sklearn.datasets import load_iris
import seaborn as sns

In [32]:
df = sns.load_dataset('iris')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [33]:
df.shape

(150, 5)

In [34]:
df['species'].value_counts()

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [35]:
df = df[df['species'] != 'virginica']

In [36]:
df['species']  = df['species'].map({
    'setosa': 0,
    'versicolor': 1
})

In [38]:
df.head(3)

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0

In [39]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [49]:
X = df.drop('species', axis = 1)
y = df['species']

In [ ]:
X_train_full, X_test, y_train_full, y_test = train_test_split(X, y, test_size= 0.3, random_state = 42)
X_train, X_val, y_train, y_val = train_test_split(X_train_full, y_train_full, test_size = 0.3, random_state = 42)

(21, 4)

In [60]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

models = {}
solvers = ['lbfgs', 'liblinear', 'newton-cg']

for solver in solvers:
    model = LogisticRegression(solver = solver)
    model.fit(X_train, y_train)
    
    y_val_pred = model.predict(X_val)
    score = accuracy_score(y_val, y_val_pred)
    
    models[solver] = score   # use hyperparameter value as key

models

{'lbfgs': 1.0, 'liblinear': 1.0, 'newton-cg': 1.0}

In [64]:
from sklearn.metrics import classification_report
model_best = LogisticRegression(solver='lbfgs', max_iter = 30)
model_best.fit(X_train_full, y_train_full)
y_pred = model_best.predict(X_test)
accuracy_score(y_test, y_pred)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        17
           1       1.00      1.00      1.00        13

    accuracy                           1.00        30
   macro avg       1.00      1.00      1.00        30
weighted avg       1.00      1.00      1.00        30